#CONFIG MONGODB
PORT=8080
MONGODB_URI=mongodb://username:password@localhost:27017/database_name?authSource=admin

#CONFIG JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPRIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRES_IN_DB=7d
COOKIE_EXPIRES_IN=30d

#CONFIG MAIL
MAIL_USER="your_email@gmail.com"
MAIL_PASS="your_email_app_password"
MAIL_CODE_ACTIVE_EXPIRE=1h
MAIL_CODE_FORGOT_EXPIRE=5m
MAIL_FROM='"No Reply" <noreply@example.com>'
MAIL_REGISTER_TEMPLATE=register
MAIL_FORGOT_TEMPLATE=forgot-password
