# =========================
# APP
# =========================
PORT=8080
NODE_ENV=
# =========================
# DATABASE (MongoDB)
# =========================
MONGODB_URI=mongodb://username:password@localhost:27017/database_name?authSource=admin
# =========================
# GOOGLE
# =========================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
# =========================
# REDIS
# =========================
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
# =========================
# JWT
# NOTE: giữ nguyên key JWT_EXPRIRES_IN để khớp code hiện tại
# =========================
JWT_SECRET=your_jwt_secret_here
JWT_EXPRIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRES_IN_DB=7d
COOKIE_EXPIRES_IN=30d
REFRESH_TOKEN_PEPPER=your_refresh_token_pepper
APPEAL_TOKEN_SECRET=your_appeal_token_secret_here
APPEAL_TOKEN_EXPIRES_IN=10m
# =========================
# OTP / VERIFY
# =========================
CODE_VERIFY_PEPPER=your_code_verify_pepper
MAIL_CODE_ACTIVE_EXPIRE=1h
MAIL_CODE_FORGOT_EXPIRE=5m
MAIL_CODE_UPDATE_EMAIL_EXPIRE=5m
# =========================
# MAIL (Resend HTTP API)
# =========================
RESEND_API_KEY=your_resend_api_key_here
MAIL_FROM='"No Reply" <onboarding@resend.dev>'
MAIL_REGISTER_TEMPLATE=register
MAIL_FORGOT_TEMPLATE=forgot-password
MAIL_UPDATE_EMAIL_TEMPLATE=verify-new-email
# =========================
# CLOUDINARY
# =========================
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# =========================
# CLOUDFLARE R2
# =========================
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=
R2_PUBLIC_BASE_URL=
CLOUDFLARE_API_TOKEN=

# STORAGE LIMITS (GB)
CLOUDINARY_BANDWIDTH_LIMIT_GB=
CLOUDINARY_STORAGE_LIMIT_GB=
R2_STORAGE_LIMIT_GB=
MONGO_MAX_STORAGE_MB=
REDIS_MAX_MEMORY_MB=
